<div class="game" ng-class='{ "game--started" : started }'>
    <header class="header">

        <span class="header__highscore" ng-show="!!record">
            <i class="fa fa-trophy"></i> {{record | numberFixedLen:1 }}s
        </span>
        <span class="header__time">{{time | numberFixedLen:1 }}s</span>
        <span class="header__pause" ng-click="pause()">
            <i class="fa fa-pause-circle"></i>
        </span>
    </header>

    <div class="get-ready">
        <div class="item item-starter" style='background-image: url("{{starter}}")'>

        </div>
        
        <div class="countdown bounceIn animated">
            {{countdown}}
        </div>
    </div>

    <ul class="items items--{{mode}}" ng-hide="paused">
        <li class="item" ng-class='{"new" : item.isNew, "wrong animated shake" : item.isWrong, "notRevealed" : !revealed }' ng-repeat="item in items" ng-click="chance(item)" style='background-image: url("{{item.src}}")'>

        </li>
    </ul>

    <ul class="progress">
        <li class="progress__level" ng-repeat="levelNumber in levels" ng-class="{
                  'progress__level--done' : levelNumber < level,
                  'progress__level--active' : levelNumber == level,
              }">
            <span></span>
        </li>
    </ul>

    <div class="pause-menu" ng-show="paused">
        <div class="pause-menu__title">
            <i class="fa fa-pause"></i> PAUSED
        </div>
        <div class="pause-menu__buttons">
            <div>
                <div class="btn" ng-click="unpause()">
                    Continue
                </div>
            </div>
            <div>
                <div class="btn" ng-click="restart()">
                    Restart
                </div>
            </div>
        </div>
    </div>

</div>