<div class="home">
    <div class="home__main-content">
        <h1 class="title bounceIn animated">Who's New<span class="question-mark">?</span></h1>
        <div class="description">
            Find the animal you haven't seen before <span class="nowrap">as fast as you can!</span>
        </div>
        <div class="btn-wrapper">
            <a href="#" class="btn btn--play" ui-sref="game">Play</a>
        </div>
    </div>
    <div class="footer">
        <!--        <a href="http://www.freepik.com/free-photos-vectors/icon" target="_blank">Icon vector designed by Freepik</a>-->
        <a href="http://www.belter.io" class="belter">
            <img src="/images/belter.png" alt="Belter Logo" target="_blank">
        </a>
    </div>
</div>