<div class="home">
    <div class="home__main-content">
        <h1 class="title bounceIn animated">Who's New?</h1>
        <div class="description">
            Find the animal you've not seen before <span class="nowrap">as fast as you can!</span>
        </div>
        <div class="btn-wrapper">
            <a href="#" class="btn btn--play" ui-sref="game">Play</a>
        </div>
    </div>
    <div class="footer">
        Made by <a href='http://www.duncanmcdougall.co.uk'>Duncan McDougall</a>
        <br/><a href="http://www.freepik.com/free-photos-vectors/icon" target="_blank">Icon vector designed by Freepik</a>
    </div>
</div>