<div class="game">
    <header class="header">

        <span class="header__highscore" ng-show="!!record">
            <i class="fa fa-trophy"></i> {{record | numberFixedLen:1 }}s
        </span>
        <span class="header__time">{{time | numberFixedLen:1 }}s</span>
        <a class="header__pause" href="#" ng-click="pause()">
            <i class="fa fa-pause-circle"></i>
        </a>
        </span>
    </header>
    <ul class="items" ng-hide="done">
        <li class="item pulse animated" ng-class='{"new" : item.isNew, "wrong" : item.isWrong }' ng-repeat="item in items" ng-click="chance(item)" style='background-image: url("{{item.src}}")'>

        </li>
    </ul>
    <div>
        <ul class="progress">
            <li class="progress__level" ng-repeat="levelNumber in levels" ng-class="{
                  'progress__level--done' : levelNumber < level,
                  'progress__level--active' : levelNumber == level,
              }">
                <span></span>
            </li>
        </ul>
    </div>
</div>