.complete {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    .time {
        font-size: 8rem;
        margin-bottom: 0.25em;
        text-shadow: 0 0.05em 0.1em rgba(0, 0, 0, 0.6);
    }
    .record {
        text-shadow: 0 0.05em 0.1em rgba(0, 0, 0, 0.6);
        font-size: 3rem;
        margin-bottom: 2em;
        
        span {
            display: inline-block;
            position: relative;
            &:before {
                font-family: FontAwesome;
                content: "\f091";
                padding-right: 0.2em;
                color: #ff9000;
            }
        }
    }
}