.home {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    height: 100%;
    &__main-content {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 100%;
    }
    .title {
        font-size:5.5rem;
        text-transform: uppercase;
        text-shadow: 0 0.1em 0.1em rgba(0, 0, 0, 0.6);
        line-height: 1;

        .char10 {
            opacity: 1;
            display: inline-block;
            transform: rotate(10deg) scale(1.4);
        }
    }
    .description {
        text-shadow: 0 0.1em 0.1em rgba(0, 0, 0, 0.6);
        font-size: 2.4rem;
        line-height: 1.2;
        width: 80%;
        margin: 0 auto;
        max-width: 24em;
    }
    .btn {
        font-size: 4.5rem;
        width: auto;
    }
    .footer {
        font-size: 1.6rem;
        padding: 2rem;
        line-height: 1.6;
        width: 100%;
        flex: 0 0 auto;
        a {
            color: white;
            white-space: nowrap;
            text-decoration: none;
            font-weight: bold;
        }
    }
}